# SPDX-FileCopyrightText: 2026 Iyad
# SPDX-License-Identifier: Apache-2.0

iyadzargar.com {
	rate_limit {
		zone perip {
			key         {remote_host}
			events      120
			window      1m
			ipv6_prefix 64
		}
	}

	reverse_proxy app:8080
}

www.iyadzargar.com, iyadf.com, www.iyadf.com {
	redir https://iyadzargar.com{uri} permanent
}
